.Home {
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about, .carousel-root {
    width: 45%;
}

.about {
    background-color: lightslategray;
    border: 1px solid black;
    border-radius: 5px;
}

.about > p {
    margin-left: 20px;
    margin-right: 20px;
}

.carousel-image {
    border-radius: 5px;
}

.image-credit {
    font-size: 8px;
}

.shop-button {
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 1px solid lightslategray;
    border-radius: 5px;
    background-color: snow;
    margin-bottom: 20px;
}

.shop-button:hover {
    transform: scale(1.03);
}

@media screen and (max-width: 1000px) {
    .Home {
        flex-direction: column;
        justify-content: flex-start;
    }

    .about, .carousel-root {
        width: 90%;
    }

    .about {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}