.Navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: lightslategray;
}

.Navbar > nav > ul {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

@media screen and (max-width: 500px) {
    .Navbar > nav > ul {
        flex-direction: column;
        gap: 10px;
    }

    .Navbar > h1 {
        font-size: 1.7em;
    }
}