.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin: 50px;
    gap: 20px;
}

.item > img {
    height: 250px;
}

.cart-icon-container {
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 25px;
    right: 25px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-icon-container:hover {
    transform: scale(1.05);
}

.cart-icon-container > img {
    width: 70px;
    position: absolute;
}

.cart-icon-container > p {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 32px;
    right: 40px;
    font-size: 24px;
    color: black;
}

@media screen and (max-width: 600px)  {
    .cart-icon-container {
        width: 50px;
        height: 50px;
    }

    .cart-icon-container > img {
        width: 38px;
    }

    .cart-icon-container > p {
        top: 16px;
        right: 16px;
        font-size: 13px;
    }
}

@media screen and (max-width: 450px) {
    .item-grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        margin: 20px;
    }
}