body {
  background-image: url("Images/green-fir-tree-branches-table.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  body {
    background-image: url("Images/green-fir-tree-branches-table-large.jpg");
  }
}

@media screen and (max-width: 750px) {
  body {
    background-image: url("Images/green-fir-tree-branches-table-medium.jpg");
  }
}

@media screen and (max-width: 525px) {
  body {
    background-image: url("Images/green-fir-tree-branches-table-small.jpg");
  }
}